<app-header></app-header>
<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3">
                  <a style="cursor:pointer" (click)="goToHome()" class="text-body">
                    <i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping
                  </a>
                </h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Favorites</p>
                   
                  </div>
                </div>

                <div class="card mb-3" *ngFor="let cartDetail of cartDetails">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>

                          <img src='{{ "assets/images/" +cartDetail.productImage}}'
                          class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;"/>
                          <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                               class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;"> -->
                        </div>
                        <div class="ms-3">
                          <h5>{{cartDetail.productName}}</h5>
                          <!-- <h5>Iphone 11 Pro</h5> -->
                         
                          <!-- <p class="small mb-0">256GB, Navy Blue</p> -->
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                       
                        <div style="width: 80px;">
                          <h5 class="mb-0">${{cartDetail.price}}</h5>
                        </div>
                        <svg (click)="deleteItem(cartDetail.productId)" style="cursor:pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>

                

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


