
<div class="login-page">
  <br> <br>
    <h1>E-Shop</h1>
    <mat-card>
      <mat-card-title style="text-align:center;">Login</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab>
            <mat-card-content>
              <form [formGroup]="loginForm" (ngSubmit)="login()" >
                <mat-form-field>
                  <input matInput formControlName="emailId" required placeholder="Email" maxlength="50">
                  <mat-error *ngIf="this.loginForm.controls['emailId'].invalid">Emailid is required</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type ="password" formControlName="password" required placeholder="Password"  minlength="6" maxlength="50">
                  <mat-error *ngIf="this.loginForm.controls['password'].hasError('required')">password is required</mat-error>
                      <mat-error
                      *ngIf="this.loginForm.controls['password'].hasError('required')">
                      Password must be of length 6
                    </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>    
                </mat-form-field>              
                <button mat-raised-button color="primary" class="login-button">Log In</button>  
                </form>
                <a id="register" (click)="register()" > New user?? register</a>
            </mat-card-content>
        </mat-tab>
        </mat-tab-group>
</mat-card>
</div>
        
