<app-header></app-header>
<br>
<h1>My Return Orders</h1>
<br>

  <!-- <div class="Pannel"  *ngFor="let myOrder of activeOrders"> -->
      <div class="Pannel"  *ngFor="let myOrder of activeOrders">
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
       order Id:- {{myOrder.orderId}}<br>
       order status:-{{myOrder.orderStatus}}
      </mat-panel-title>
     
       </mat-expansion-panel-header>
       User Id: {{myOrder.emailId}}<br>
       Order date: {{myOrder.orderDate}}<br>
       Order status:{{myOrder.orderStatus}}<br>
      
       <div *ngFor="let product of myOrder.productsArray">
    <img src='{{ "assets/images/" +product.productImage}}'
    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;"/><br>
  Product Name:- {{product.productName}}
     </div>

  </mat-expansion-panel><br>
</div>

