<!-- <div class="register-page">
<mat-card>
    <mat-card-title style="text-align:center;">Register</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Register" name="register">
        <mat-card-content>
          <form [formGroup]="registrationForm" (ngSubmit)="register()" >
                   
            <mat-form-field>
              <input matInput formControlName="emailId" required placeholder="Email" maxlength="50">
              <mat-error *ngIf="this.registrationForm.controls['emailId'].invalid">Emailid is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" formControlName="password" required placeholder="Password"  minlength="6" maxlength="50">
              <mat-error *ngIf="this.registrationForm.controls['password'].hasError('required')">password is required</mat-error>
                  <mat-error
                  *ngIf="this.registrationForm.controls['password'].hasError('required')">
                  Password must be of length 8
                </mat-error>
              <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" formControlName="repassword" required placeholder="Confirm Password"  minlength="6" maxlength="50">
              <mat-error *ngIf="this.registrationForm.controls['repassword'].hasError('required')">Renter the password</mat-error>
               <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>


            <mat-form-field>
              <input matInput formControlName="firstName" required placeholder="First Name"  maxlength="50">
              <mat-error *ngIf="this.registrationForm.controls['firstName'].hasError('required')">Please enter the first name</mat-error>
             <mat-icon matSuffix>contact_mail</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="lastName" required placeholder="Last Name"  maxlength="50">
              <mat-error *ngIf="this.registrationForm.controls['lastName'].hasError('required')">Please enter the lastName name</mat-error>
            <mat-icon matSuffix>contact_mail</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="phoneNumber" required placeholder="Phone Number" >
              <mat-error *ngIf="this.registrationForm.controls['phoneNumber'].hasError('required')">Please enter the phone number</mat-error>
            <mat-icon matSuffix>contact_phone</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="houseNumber" required placeholder="House Number" >
              <mat-error *ngIf="this.registrationForm.controls['houseNumber'].hasError('required')">Please enter the house number</mat-error>
               <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="streetName" required placeholder="Street Name" >
              <mat-error *ngIf="this.registrationForm.controls['streetName'].hasError('required')">Please enter the Street Name</mat-error>
            <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="city" required placeholder="City" >
              <mat-error *ngIf="this.registrationForm.controls['city'].hasError('required')">Please enter the City</mat-error>
             <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="state" required placeholder="State" >
              <mat-error *ngIf="this.registrationForm.controls['state'].hasError('required')">Please enter the State</mat-error>
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="pincode" required placeholder="Pincode">
              <mat-error *ngIf="this.registrationForm.controls['pincode'].hasError('required')">Please enter the Pincode</mat-error>
              <mat-icon matSuffix>dialpad</mat-icon>
            </mat-form-field>

            <button
              mat-raised-button
              color="primary"
              class="login-button">
              Sign Up 
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</div> -->

<br>
<br>
<div class="row-div" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="5px"
fxLayoutGap.gt-md="50px" fxLayoutAlign="space-around center">
<h1>Register yourself!!!!!!</h1>
</div>
<br>
<br>
<br>
<div class="registerUser">

  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="registrationForm">
      <form [formGroup]="registrationForm">
        <ng-template matStepLabel>Personal Details</ng-template>
        <mat-form-field  appearance="fill">
            <input matInput formControlName="emailId" required placeholder="Email" maxlength="50">
            <mat-error *ngIf="this.registrationForm.controls['emailId'].invalid">Emailid is required</mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field  appearance="fill">
            <input matInput type="password" formControlName="password" required placeholder="Password"  minlength="6" maxlength="50">
            <mat-error *ngIf="this.registrationForm.controls['password'].hasError('required')">password is required</mat-error>
                <mat-error
                *ngIf="this.registrationForm.controls['password'].hasError('required')">
                Password must be of length 8
              </mat-error>
            <mat-icon matSuffix>lock</mat-icon>

          </mat-form-field>

          <mat-form-field   appearance="fill">
            <input matInput type="password" formControlName="repassword" required placeholder="Confirm Password"  minlength="6" maxlength="50">
            <mat-error *ngIf="this.registrationForm.controls['repassword'].hasError('required')">Renter the password</mat-error>
             <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>


          <mat-form-field  appearance="fill">
            <input matInput formControlName="firstName" required placeholder="First Name"  maxlength="50">
            <mat-error *ngIf="this.registrationForm.controls['firstName'].hasError('required')">Please enter the first name</mat-error>
           <mat-icon matSuffix>contact_mail</mat-icon>
          </mat-form-field>

          <mat-form-field  appearance="fill">
            <input matInput formControlName="lastName" required placeholder="Last Name"  maxlength="50">
            <mat-error *ngIf="this.registrationForm.controls['lastName'].hasError('required')">Please enter the lastName name</mat-error>
          <mat-icon matSuffix>contact_mail</mat-icon>
          </mat-form-field>

          <mat-form-field  appearance="fill">
            <input matInput formControlName="phoneNumber" required placeholder="Phone Number" >
            <mat-error *ngIf="this.registrationForm.controls['phoneNumber'].hasError('required')">Please enter the phone number</mat-error>
          <mat-icon matSuffix>contact_phone</mat-icon>
          </mat-form-field>

        
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      
      </form>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>House Number</mat-label>
          <input matInput formControlName="houseNumber" placeholder="Apt Num"
                 required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Street Name</mat-label>
            <input matInput formControlName="streetName" placeholder="street"
                   required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" placeholder="city"
                   required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" placeholder="state"
                   required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Pincode</mat-label>
            <input matInput formControlName="pinCode" placeholder="pinCode"
                   required>
          </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
     <p>If you are confirm with your details then please click on submit</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="submitUser()">Submit</button>
      </div>
    </mat-step>
  </mat-stepper>

</div>